#pokemon_num{
  margin: 10px;
}
.btn_search {
  color: #f7f3f3;
  background-color: #b9000e;
  border: 6px outset #b9000e;
  margin: 10px;
}
.btn_shiny{
  color: #f7f3f3;
  background-color: #b9000e;
  border: 6px outset #b9000e;
  margin: 10px;
}
.clear{
  clear: both;
}
.pokemon_image {
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: contain;
  margin: 10px;
  float: left
}
table {
  width: 400px;
  height: 200px;
  border-collapse: collapse;
  clear: both;
  margin: 10px;
}
th, td {
  border: 1px solid #333;
}
th {
  width: 200px;
  color: #f7f3f3;
  background-color:#b9000e;
}
td {
  width: 400px;
}
.result {
  display: none;
}
.modal {
  display: none;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100%;
}